
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Inter",sans-serif;
}
body{

    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#EEEEFF,#C8C7FF);
}
.chatbot-popup{
    position:relative;
    width:420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow:0 0 120px 0 rgba(0,0,0,0.1),0 32px 64px -48px rgba(0,0,0,0.5);



}
.chat-header{
    display:flex;
    
    align-items: center;
    padding: 15px 22px;
    justify-content:space-between ;
    background:#5350C4;
}
.chat-header .header-info{
    display: flex;
    gap:10px;
    align-items: center;
}
.header-info .chatbot-logo{
    height: 35px;
    width:35px;
    padding:6px;
    fill:#5450C4;
    flex-shrink:0;
    background:#fff;
    border-radius: 50%;



}
.header-info .logo-text
{
    color:#fff;
    font-size:1.31rem;
    font-weight: 600;
}
.chat-header #close-chatbot{
    border:none;
    color:#fff;
    background: #3d39ac;
    height: 40px;
    width:40px;
    border-radius:50%;
    background: none;
    cursor:pointer;
    padding-top: 2px;
    margin-right:-10px;
    transition:0.2s ease;
}
.chat-header #close-chatbot:hover{
    background: #3d39ac;

}
.chat-body{
    padding:25px 22px;
    display:flex;
    gap:20px;
    height:460px;
    margin-bottom: 82px;
    overflow:auto;
    flex-direction:column;

}
.chat-body .message{
    display:flex;
    gap:11px;
    align-items: center;

}
.chat-body .bot-message .bot-avatar{
    height: 35px;
    width:35px;
    padding:6px;
    align-items:end;
    fill:#fff;
    flex-shrink:0;
    
    background:#5450C4;
    border-radius: 50%;
    margin-bottom: 2px;

}
.chat-body .user-message{
    flex-direction: column;
    align-items: flex-end;
}
.chat-body .message .message-text{
    padding:12px;
    max-width:75%;
    font-size:0.95rem;
}

.chat-body .bot-message .message-text{
    background: #F2F2FF;
    border-radius: 13px 13px 13px 3px;
}
.chat-body .user-message .message-text{
    color:#fff;
    background: #5350C4;
    border-radius: 13px 13px 3px 13px;
}
.chat-body .bot-message .thinking-indicator{
  display: flex;
  gap:4px;
  padding-block:15px;
}

.chat-body .bot-message .thinking-indicator .dot{
    height: 7px;
    width:7px;
    background:#6F68C2;
    border-radius:50%;
    animation:dotPulse 1.8s ease-in-out infinite;
}
@keyframes dotPulse{
   0%,44%{
    transform:translateY(0);
   }
   28%{
    opacity:0.4;
    transform: translateY(-4px);
   }
}
chat-footer{
    position:absolute;
    width:100%;
    bottom:0;
    background: #fff;
    padding:15px 22px 20px;

}
.chat-footer .chat-form{
    
    
  display:flex;
  align-items: center;
  background: #fff;
  border-radius:32px;
  outline: 1px solid #CCCCE5;

    
}
.chat-footer .chat-form:focus-within{
    outline: 2px solid #5450C4;
}
.chat-form .message-input{
    border:none;
    outline:none;
    height:47px;
    width:100%;
    resize:none;
    font-size:0.95rem;
    padding:14px 0px 13px 18px;
    border-radius:inherit;

}
.chat-form .chat-controls{
    display:flex;
    height:47px;
    align-items:center;
    gap:3px;
    align-self:flex-end;
    padding-right:6px;
}
.chat-form .chat-controls button{
    height:35px;
    width:35px;
border:none;
cursor:pointer;
background:none;
color:#706D80;
border-radius: 50%;
transition:0.2s ease;


}
.chat-form .chat-controls button:hover{
    background:#f1f1ff;
}
.chat-form .chat-controls #send-message{
    background: #5350C4;
    color:#fff;
    display:none;
}
.chat-form .message-input:valid~.chat-controls #send-message{
    display:block;
}